<div id="header" class="row">
    <div class="col-md-12">
        <button id="openDir" (click)="openDir()">Open</button>
        <input id="dirPath" type="text" disabled value="{{fileSet.dirPath}}"/>
        <span><b>{{currentImageAction}}</b></span>
    </div>
</div>
<div id="content" class="row">
    <div class="col-md-12">
        <img id="processingImage" class="img-responsive" [src]="currentImg | async"/>
    </div>
</div>
<div id="footer" class="row">
    <div class="col-md-12">
        <button id="prevImage" (click)="prevImage()">Previous Image</button>
        <button id="keepImage" (click)="keepImage()">Keep</button>
        <button id="retouchImage" (click)="retouchImage()">Retouch</button>
        <button id="privateImage" (click)="privateImage()">Private</button>
        <button id="deleteImage" (click)="deleteImage()">Delete</button>
        <button id="nextImage" (click)="nextImage()">Next Image</button>
        <button id="organize" (click)="organize()">Organize</button>
    </div>
</div>